// color variables

    $bkg-color: rgba(213, 213, 213, 0.842);
    $bkg-card: rgba(255, 255, 255, 0.931);
    $menu:  rgba(213, 213, 213, 0.939);
    $red: #f54829;
    $dark-red:rgb(187, 4, 4);
    $red-dark: darken($red, 10);
    $red-light: lighten($red, 10);
    $orange: #f58c29;
    $green: #008216;

    $blue: #356dce;
    
    $sfondo:url('https://source.unsplash.com/1600x900/?landscape');

    $black: #111111;
    $white: rgb(255, 255, 255);
    
    $light-gray: #c2c2c2;
    $medium-gray: #757575;
    $dark-gray: #494949;

// END color variables


